html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
}
.parent {
  display: grid;
  grid: auto 1fr auto/150px 1fr 150px;
  height: 100vh;
}
header,
.first,
.third,
main,
footer {
  padding: 10px;
}
header {
  grid-column: 1/4;
  background-color: #1f1f1f;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  grid-column: 1/2;
  background-color: darkcyan;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  grid-column: 2/3;
  background-color: #d38282;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third {
  grid-column: 3/4;
  background-color: darkcyan;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  grid-column: 1/4;
  background-color: #1f1f1f;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .parent {
    grid: repeat(5, auto) / 1fr;
  }
  .first,
  main,
  .third,
  footer,
  header {
    grid-column: 1/2;
  }
}
