* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root,
.carousel {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  position: relative;
  background-color: #1f1f1f; /* Match your desired background */
}
.single_image {
  height: 100%;
  width: 100%;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}
