* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

.circle div {
  width: 75%; /* Adjusts the size of each nested circle */
  height: 75%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
