* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}

.circle div {
  width: 90%; /* Adjusts the size of each nested circle */
  height: 90%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 3px rgb(231, 227, 13);
}
