* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #1f1f1f;
}

.Password_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main_app {
  background-color: rgb(7, 248, 128);
  height: 45%;
  width: 35%;
  padding: 15px 26px;
  border-radius: 20px;
}
.copy_password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  padding: 5px 30px;
  cursor: pointer;
  border: none;
}

.input_range {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.character_length {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_range input {
  width: 100%;
  cursor: pointer;
}
.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  gap: 10px;
}
.checkboxes div {
  display: flex;
  gap: 10px;
}
.checkboxes div input,
label {
  cursor: pointer;
}
.Generate_Button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}
.Generate_Button button {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.password_strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
